* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

@font-face {
  font-family: Ame;
  src: url(//cdn.shopify.com/s/files/1/0557/0566/5721/t/2/assets/americana-bold.ttf?v=9010423031374408192);
  src: url(//cdn.shopify.com/s/files/1/0557/0566/5721/t/2/assets/americana-bold.ttf?%23iefix&v=9010423031374408192)
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Geo;
  src: url(//cdn.shopify.com/s/files/1/0557/0566/5721/t/2/assets/Geomanist-Book.otf?v=8482170230053308163);
  src: url(//cdn.shopify.com/s/files/1/0557/0566/5721/t/2/assets/Geomanist-Book.otf?%23iefix&v=8482170230053308163)
    format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

:root {
  --font3: Ame;
  --font2: sans-serif;
  --font1: Geo;
  /*--blue: #002b3b;*/
	--blue: #00556d;
	--body: #daecee;
  --lightblue: #49e2e4;
  --orange: #f7650b;
  --lightcyan: #d6f1ed;
  --white: #fff;
  --red: red;
  --green: green;
  --black: black;
  --grey: #c6c4c417;
  --shadow: 0 1px 0px #f0e43766, 1px 0 0px #000000dc, 1px 2px 1px #0000003e;
}

body {
  width: 100%;
  font-family: var(--font2);
  overflow-x: hidden;
  background-color: var(--body);
	color: var(--black);
}

a {
  text-decoration: none;
  color: var(--black);
}

p {
	color: var(--black);
}

.alert {
  padding: 15px;
  background-color: var(--black);
  color: var(--white);
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
}

.alert-link {
  padding-left: 10px;
  transition: 0.85s ease-in-out;
  color: var(--blue);
}

.alert p {
  text-align: center;
  font-size: 14px;
	color: var(--white);
}

.alert-link:hover {
  color: var(--orange);
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: var(--white);
  font-weight: bold;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.5s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: var(--orange);
}

.contact-login-container {
  color: #daecee;
  background-color: #daecee;
  font-size: 14px;
}

div.contact-login-container a {
  color: var(--black);
}

.contact-login-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 8px 15px;
  cursor: pointer;
}

.contact-section,
.login-section {
  display: flex;
  gap: 25px;
}

.contact-section {
  letter-spacing: 1.5px;
}

.login-section {
  font: normal 16px var(--font1), var(--font2);
}

.phone-number,
.email,
.login,
.sign-up {
  transition: 0.85s ease-in-out;
}

.email {
  display: none;
}

.phone-number:hover,
.email:hover,
.login:hover,
.sign-up:hover {
  color: var(--black);
}

.material-symbols-rounded {
  vertical-align: bottom;
  font-size: 1.3em;
}

.navigation {
  width: 100%;
  position: -webkit-sticky;
	position: sticky;
  margin-bottom: 50px;
	top: 0;
  background: #000000bb;
	padding: 15px 0px;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

.logo-box {
  color: var(--white);
  width: 30%;
}

.logo {
  color: #daecee;
}

.link-wrapper {
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  display: none;
}

.link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 7px;
  transition: 0.85s ease-in-out;
}

.a-box a {
  color: var(--lightblue);
  transition: 0.85s ease-in-out;
}

.a-box {
  transition: 0.85s ease-in-out;
  transform: rotate(0deg);
}

.a-box:hover {
  animation: yo 0.85s linear 0s 1 reverse none;
  transform: rotate(15deg);
}

.link .fade-quote:hover {
  transform: rotate(0deg);
}

a.quote {
  background-color: var(--orange);
  color: var(--lightblue);
  transition: 0.85s ease-in-out;
  padding: 15px 25px;
  border-radius: 5px 25px;
}

a.quote:hover {
  background: var(--blue);
  color: var(--white);
  transition: 0.85s ease-in-out;
  transform: rotate(30deg);
}

.home {
  padding: 0px 15px;
	background: url(./images/rightback.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: var(--font3);
  margin-bottom: 50px;
}

.home-wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.left-content {
  text-align: center;
}

.left-h1 {
  color: var(--black);
  margin-bottom: 20px;
	font-size: small;
  text-transform: uppercase;
}

.left-p {
  display: none;
}

.right-img {
  width: 250px;
}

.right-img img {
  width: 100%;
}

.home-btn button {
  padding: 15px 25px;
  border-radius: 5px 5px;
  background-color: var(--white);
  color: var(--black);
  transition: 0.5s ease-in-out;
  margin-bottom: 20px;
}

.home-btn button:hover {
	box-shadow: -5px -5px 0px var(--white), 5px 5px 0px var(--orange);
	border-radius: 10px 0px;
	padding: 15px 35px;
	color: var(--white);
	background-image: linear-gradient(45deg, var(--black) 100%, var(--lightblue) 0%);
}
/**
.box {
  width: 100px;
}

.box img {
  width: 100%;
  height: auto;
}

.box:hover img {
  color: var(--red);
  background: var(--red);
}

**/

.welcome {
  padding: 0px 0px;
	margin-bottom: 50px;
}

.welcome-wrapper {
  background-color: #daecee;
	padding: 25px 0px;
}

.wel-head {
	margin-bottom: 50px;
}

.wel-head-wrapper {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.wel-h2 {
	color: var(--orange);
	text-shadow: 1px 0px 1px rgb(0, 0, 0);
  margin-bottom: 20px;
  text-transform: uppercase;
	font-family: var(--font3);
}

.wel-p {
	color: var(--black);
	margin-bottom: 20px;
	text-transform: uppercase;
}

.wel-border {
	display: flex;
	gap: 10px;
	align-items: flex-end;
}

@keyframes identifier {
	0% {
		background: linear-gradient(90deg, var(--black) 50%, var(--orange));
	}

	30% {
		background: linear-gradient(90deg, var(--black) 50%, var(--orange));
	}

	60% {
		background: linear-gradient(270deg, var(--black) 50%, var(--lightblue));
	}

	100% {
		background: linear-gradient(270deg, var(--black) 50%, var(--lightblue));
	}
}

.long {
	width: 80px;
	height: 3px;
	background: linear-gradient(270deg, lightblue 50%, var(--blue));
	animation: identifier 2s linear 5s infinite alternate-reverse both;
}

.medium {
	width: 40px;
	height: 3px;
	background: linear-gradient(270deg, lightblue 50%, var(--blue));
	animation: identifier 2s linear 5s infinite alternate-reverse both;
}

.short {
	width: 20px;
	height: 3px;
	background: linear-gradient(270deg, lightblue 50%, var(--blue));
	animation: identifier 2s linear 5s infinite alternate-reverse both;
}

.wel-body-wrapper {
	display: grid;
	grid-template-columns: auto;
	place-items: center;
	gap: 25px;
	text-align: center;
	padding: 10px 10px;
}

.box {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--white);
	padding: 15px 0px;
	transition: .85s ease-in-out;
	box-shadow: 0px 0px 1px #012034fc;
	color: var(--black);
	border-radius: 10px 0px;
	font-weight: 500;
	user-select: none;
}

@keyframes shadow {
	0% {
		box-shadow: -3px -3px 0px var(--black), 10px 10px 0px var(--lightblue);
	}

	20% {
		box-shadow: -3px -3px 0px var(--black), 3px 3px 0px var(--lightblue);
	}

	40% {
		box-shadow: -10px -10px 0px var(--lightblue), 3px 3px 0px var(--lightblue);
	}

	60% {
		box-shadow: -3px -3px 0px var(--black), 10px 10px 0px var(--black);
	}

	80% {
		box-shadow: -10px -10px 0px var(--lightblue), 3px 3px 0px var(--black);
	}

	100% {
			box-shadow: -10px -10px 0px var(--lightblue), 3px 3px 0px var(--black);
	}
}

.box:hover {
	box-shadow: -5px -5px 0px var(--white), 5px 5px 0px var(--lightblue);
	color: var(--black);
	background-color: var(--white);
	border-radius: 10px 0px;
	background-image: linear-gradient(45deg, var(--white) 50%, var(--orange) 0%);
	animation: shadow 1.5s linear 0s infinite alternate-reverse both;
}

.box-img {
	width: 70px;
	margin-bottom: 20px;
	padding: 10px;
	box-shadow: -5px -5px 0px var(--white), 5px 5px 0px var(--lightblue);
	color: var(--lightblue);
	border-radius: 50%;
}

.box-img img {
	width: 100%;
	background-color: transparent;
	border-radius: 50%;
}

.box-p {
	font-size: 20px;
}

.purpose {
	background-color: var(--grey);
	margin-bottom: 50px;
}

.purpose-wrapper {
	display: grid;
	grid-template-columns: auto;
	gap: 25px;
	padding: 50px 0px 50px 0px;
}

.purpose-head {
	margin-bottom: 20px;
}

.purpose-img {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.img-pur-box {
	width: 350px;
}

.purpose-img img {
	width: 100%;
}

.purpose-body-box {
	margin-bottom: 30px;
}

.purpose-body-box:last-child {
	margin-bottom: 0;
}

.purpose-body {
	text-align: center;
	padding: 12px;
}

.purpose-h2 {
	color: var(--orange);
	text-shadow: 1px 0px 1px #000000;
}

.purpose-p {
	color: var(--white);
	line-height: 1.5;
	font-size: 15px;
}


.feedback {
	padding: 0px 0px;
	background-image: url(./images/fact-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	color: var(--white);
}

.feedback-grid {
	display: grid;
	grid-template-columns: auto auto;
	place-items: center;
	gap: 25px;
	background-color: transparent;
}

.feedback-item {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 25px;
}

.feedback-item h1 {
	margin-bottom: 10px;
	font-size: 2.5rem;
	font-family: var(--font3);
	color: var(--black);
}

.feedback-item p {
	color: var(--blue);
}

.feed-img {
	width: 50px;
	margin-bottom: 10px;
}

.feed-img img {
	width: 100%;
}

.feedquote {
	background-color: transparent;
	color: var(--white);
	padding: 3%;
}

.feedquote-box {
	padding: 30px 35px;
	background-color: var(--black);
	box-shadow: 5px 10px var(--lightblue);
	transition: 0.85s ease-in-out;
	border-radius: 5px 5px;
}

.feedquote-box:hover {
	padding: 30px 35px;
	box-shadow: -5px -10px var(--lightblue);
	border-radius: 25px 0px;
}

.feedquote-p {
	margin-bottom: 25px;
}

.feedquote-p p {
	font-size: 18px;
	text-align: center;
	text-shadow: 1px 0px 1px black;
	font-weight: 600;
	color: var(--white);
}

.feedquote-btn {
	margin-bottom: 15px;
}

.feedquote-btn button {
	width: 100%;
	padding: 15px 0px;
	border-radius: 5px;
	font-size: 17px;
}

.blue button {
	background-color: var(--lightblue);
	color: var(--white);
}

.blue button:hover {
	background-image: var(--orange);
}

.orange button{
	background-color: var(--orange);
	color: var(--white);
}

.dark-mode {
	position: fixed;
	top: 160px;
	right: 2px;
	padding: 5px;
	border-radius: 50%;
	background-color: var(--black);
	color: var(--white);
}

.dark-mode button {
	border-radius: 50%;
}

.why-us {
	background-color: var(--grey);
	margin-bottom: 50px;
	padding: 0px 8px;
}

.why-us-container {
	display: grid;
	grid-template-columns: auto;
	gap: 25px;
	padding: 50px 0px 50px 0px;
}

.why-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.img-why {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.why-img-box {
	width: 350px;
}

.why-img-box img {
	width: 100%;
	height: auto;
}

.why-info {
	margin-bottom: 50px;
}

.why-icon {
	width: 60px;
	background-color:var(--white);
	padding: 12px 5px 0px;
	margin-bottom: 20px;
	box-shadow: 3px 3px var(--lightblue), -3px -3px var(--orange);
}

.why-icon img {
	width: 100%;
	height: auto;
}

.why-h1 {
	margin-bottom: 20px;
}

.why-p {
	font-size: 14px;
	line-height: 1.8;
	color: var(--gray);
}